<ion-list>
  <!--<div *ngFor="let scrollGroup of scrollGroups.alphaScrollGroups">-->
    <!--<ion-item-divider *ngIf="scrollGroup.categoryList <= 0">-->
      <!--<span>{{scrollGroup.categoryChar}}</span>-->
    <!--</ion-item-divider>-->
    <!--<ion-item-sliding *ngFor="let item of scrollGroup.categoryList" *ngIf="scrollGroup.categoryList > 0">-->
      <!--<ion-item (click)="onItemClick(item)">-->
        <!--<ion-avatar item-start *ngIf="!displayContactPhoto && item.photoUri "><img [src]="item.photoUri"></ion-avatar>-->
        <!--<div id="firstName" *ngIf="sortByFirstName">-->
          <!--<span [innerHTML]="item.title"></span><span [innerHTML]="item.firstName"></span><span [innerHTML]="delimiter"></span><span [innerHTML]="item.lastName"></span>-->
        <!--</div>-->
        <!--<div id="lastName" *ngIf="!sortByFirstName">-->
          <!--<span [innerHTML]="item.lastName"></span><span [innerHTML]="delimiter"></span><span [innerHTML]="item.title"></span><span [innerHTML]="item.firstName"></span>-->
        <!--</div>-->
      <!--</ion-item>-->
      <!--<ion-item-options side="left">-->
        <!--&lt;!&ndash;<button ion-button (click)="button1Event"><ion-icon [name]="button1Icon"></ion-icon>{{button1Title}}</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button ion-button (click)="button2Event"><ion-icon [name]="button2Icon"></ion-icon>{{button2Title}}</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button ion-button (click)="button3Event"><ion-icon [name]="button3Icon"></ion-icon>{{button3Title}}</button>&ndash;&gt;-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
  <!--</div>-->
</ion-list>

<!--<ul id="scrollBar">-->
  <!--<li><a href='#a'>A</a></li>-->
  <!--<li><a href='#b'>B</a></li>-->
  <!--<li><a href='#c'>C</a></li>-->
  <!--<li><a href='#d'>D</a></li>-->
  <!--<li><a href='#e'>E</a></li>-->
  <!--<li><a href='#f'>F</a></li>-->
  <!--<li><a href='#g'>G</a></li>-->
  <!--<li><a href='#h'>H</a></li>-->
  <!--<li><a href='#i'>I</a></li>-->
  <!--<li><a href='#j'>J</a></li>-->
  <!--<li><a href='#k'>K</a></li>-->
  <!--<li><a href='#l'>L</a></li>-->
  <!--<li><a href='#m'>M</a></li>-->
  <!--<li><a href='#n'>N</a></li>-->
  <!--<li><a href='#o'>O</a></li>-->
  <!--<li><a href='#p'>P</a></li>-->
  <!--<li><a href='#q'>Q</a></li>-->
  <!--<li><a href='#r'>R</a></li>-->
  <!--<li><a href='#s'>S</a></li>-->
  <!--<li><a href='#t'>T</a></li>-->
  <!--<li><a href='#u'>U</a></li>-->
  <!--<li><a href='#v'>V</a></li>-->
  <!--<li><a href='#w'>W</a></li>-->
  <!--<li><a href='#x'>X</a></li>-->
  <!--<li><a href='#y'>Y</a></li>-->
  <!--<li><a href='#z'>Z</a></li>-->
  <!--<li><a href='##'>#</a></li>-->
<!--</ul>-->
